@import "../theme.scss";

.Catalogue {
    display: flex;
    flex-direction: column;
    height: 100%;
    .mapsFloat {
        margin: 0 auto;
        position: absolute;
        left: 39%;
        right: 0;
        bottom: 8vh;
        padding: 0 0.8em;
        height: 2.2em;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4em;
        background: #ffffff;
        box-shadow: 0px 0px 4px 0px #d0d0d0;
        z-index: 2;
        .icon {
            margin-right: 5px;
        }
    }
}

.tabs {
    display: flex;
    box-shadow: 0px 6px 6px -5px #d0d0d0;
    z-index: 1;
    a {
        padding: 10px 0;
        margin: 0 10px;
        color: $fontSecondaryColor;
        font-weight: 500;
        text-decoration: none;
        &.active {
            color: $primaryColor;
            border-bottom: 2px solid $primaryColor;
        }
    }
}

.storeListWrapper {
    flex:1;
    background: #f4f4f4;
    overflow-y: auto;
    .heading {
        padding: 0.5em 1.5em 1em;
        font-weight: bold;
        text-align: left;
        font-size: 1.1em;
    }
}