@import "../theme.scss";

.storeDetail {
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {    
        position: absolute;
        height: 7vh;
        background: transparent;
        display: flex;
        justify-content: space-between;
        width: 100vw;
        align-items: center;
        padding: 0 1em;
        box-sizing: border-box;
        .actions {
            display: flex;
        }
        .qrButton {
            margin-right: 0.5em;
        }
        .btn {
            background-color: #ffffff;
            height: 2.2em;
            width: 2.2em;
            border-radius: 2em;
        }
    }
    .detailFooter {
        display: flex;
        justify-content: space-around;
        padding: 2%;
        box-shadow: 0px 0px 20px 0px #d0d0d0;
        z-index: 1;
        height: 7vh;
        .btn {
            flex: 1;
            margin: 1%;
            font-size: 1.1em;
            font-weight: 600;
        }
    }
}



.storeDetailContainer {
    flex: 1;
    overflow-y: auto;
    .storeInfo {
        text-align: left;
        padding: 1em;
        > div {
            margin-bottom: 8px;
        }
        .storeName {
            font-weight: bold;
            font-size: 1.5em;
            display: flex;
            justify-content: space-between;
            .actions{
                display: flex;
                .btn:first-child{margin-right: 0.5em;}
            }
        }
        .storeType {
            color: $fontSecondaryColor;
        }
        .rating {
            svg{margin-right: 0.4em;}
        }
        .address, .timings{
            font-size: 1.05em;
            color: #000000;
            display: flex;
            align-items: center;
            svg {
                margin-left: 0.4em;
            }
            span {
                color: $primaryColor;
                font-weight: 600;
                &.open {color: #44a058;}
            }
        }
        .timings{margin-bottom: 0.7em;}
        .indicators {
            display: flex;
            > div {
                border: 1px solid #dcdcdc;
                padding: 0 0.7em 0 0.8em;
                border-radius: 10px;
                margin-right: 1em;
                display: flex;
                align-items: center;
                height: 1.8em;
                font-weight: 600;
                font-size: 0.9em;
                svg{margin-left: 0.5em;}
            }
        }
    }
    .storeProducts {
        background: #f4f4f4;
        .heading {
            padding: 0 1em;
            font-weight: bold;
            text-align: left;
            font-size: 1.1em;
            display: flex;
            height: 3em;
            align-items: center;
            justify-content: space-between;
        }
        .productList{
            display: flex;
            flex-wrap: wrap;
            padding: 0 2%;
            > div {
                flex: 0 1 46%;
                box-sizing: border-box;
                margin: 2%;
              }
        }
    }
}

.storeDetailContainer .detailPoster {
    height: 16em;
    background-repeat: no-repeat;
    background-size: cover;
}

