@import "../theme.scss";

i.icon {
    background-image: url(../image/icons.png);
    background-size: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    &.mini{
        background-size: 100%;
        width: 16px;
        height: 16px;
    }
    &.large {
        width: 24px;
        height: 24px;
    }
    &.back {
        background-position: 0px 0px;
    }
    &.like {
        background-position: 0px 0px;
    }
    &.share {
        background-position: 0px 0px;
    }
    &.qr {
        background-position: 0px 0px;
    }
    &.cart {
        background-position: 0px 0px;
    }
    &.search {
        background-position: 0px 0px;
    }
    &.info {
        background-position: 0px 0px;
    }
    &.direction {
        background-position: 0px 0px;
    }
    &.right {
        background-position: 0px 0px;
    }
    &.tick {
        background-position: 0px 0px;
    }
    &.filter {
        background-position: 0px 0px;
    }
    &.map {
        background-position: 0px 0px;
    }
    &.star {
        background-position: 0px 0px;
    }
    &.starActive {
        background-position: 0px 0px;
    }
    &.blocks {
        background-position: 0px 0px;
    }
    &.compas {
        background-position: 0px 0px;
    }
    &.users {
        background-position: 0px 0px;
    }
    &.bell {
        background-position: 0px 0px;
    }
    &.user {
        background-position: 0px 0px;
    }
    &.close {
        background-position: 0px 0px;
    }
}