@import "../theme.scss";
@import "../main.scss";

.Navigation {
    display: flex;
    height: $NavigationHeight;
    color: #fff;
    box-shadow: 0px 0px 20px 0px #d0d0d0;
    z-index: 1;
    a {
        flex: 1;
        text-decoration: none;
        color: $fontSecondaryColor;
        &:last-child {
            border: none;
        }
        &.active {
            color: $primaryColor;
        }
    }
}