@import "../theme.scss";

.productCard {
    border-radius: 4px;
    overflow: hidden;
    text-align: left;
    box-shadow: 0px 0px 2px 0px #d0d0d0;

    &:hover, &:focus {
        outline: 1px solid $primaryColor; 
    }

    .productImage {
        height: 10em;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .detail {
        background: #ffffff;
        padding: 0.7em;
        > div {
            margin-bottom: 5px;
        }
        .productName {
            font-weight: bold;
        }
        .productType {
            margin-bottom: 10px;
            color: $fontSecondaryColor;
            font-size: 0.9em;
        }
        .productPrice {
            font-weight: 600;
            font-size: 0.9em;
        }
        .actions {
            margin-bottom: 0px;
        }
    }
}