.storeFilter {
    overflow-x: auto;
    display: flex;
    margin-top: 0.8em;
    padding: 0 2em 0.8em 1em;
    .pill {
        padding-left: 1em;
        border: 1px solid #dcdcdc;
        white-space: nowrap;
        border-radius: 4px;
        margin: 0 0.5em;
        display: flex;
        height: 2.5em;
        align-items: center;
        &:first-child {
            padding-left: 0.5em;
            padding-right: 1em;
        }
        >i.icon {
            margin-right: 0.4em;
        }
        .btn {
            margin-left: 5px;
        }
    }
}